img{
    width: 100%;
  }

.column {
  position: relative;
  display: inline-flex;
  padding: 14px 16px;
  width: 30.33%;
  text-align: left;
}


@media (max-width: 768px) {
  .column {
    display:flex;
    width: 100%;
  }
  .topnav2 {
    display: none
  }
}
